.mouseCursorExample {
  cursor: none;

  .hourGlassCursor {
    position: absolute;
    width: 25px;
    height: 25px;
    pointer-events: none;
    background-image: url('/svgs/hourGlassCursor.svg');
  }
}
