@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.idol {
  width: c.$W_IDOL_M;
  height: c.$H_IDOL;
  background-color: c.$C_WHITE;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(c.$C_GRAY_4, 0.1);
  overflow: hidden;

  @include m.after(M) {
    width: c.$W_IDOL;
  }

  &.opened {
    width: c.$W_IDOL_M * 2 + c.$GUTTER_IDOL;
    height: c.$H_IDOL * 2 + c.$GUTTER_IDOL;

    @include m.after(M) {
      width: c.$W_IDOL * 2 + c.$GUTTER_IDOL;
    }

    .lower {
      display: block;
    }
  }

  .upper {
    @include m.flexbox(center, start);
    position: relative;
    width: 100%;
    padding: 24px 14px 14px;

    .leftWing {
      @include m.flexbox(center, center);
      flex-direction: column;
      flex: 1;
    }

    .withSound {
      @include m.absolute(8px 8px auto auto);
      width: 14px;
      height: 14px;
      fill: c.$C_GRAY_8;
    }

    .name {
      margin-top: 14px;
      font-size: 14px;
      font-weight: 600;
    }

    .category,
    .years {
      margin-top: 8px;
      font-size: 12px;
    }

    .profileImg {
      img {
        border-radius: 50%;
      }
    }

    .rightWing {
      @include m.flexbox(center, center);
      flex-direction: column;
      flex: 1;
      font-size: 12px;

      .desc {
        margin-bottom: 24px;
        line-height: 1.4;
      }

      .outerLinks {
        @include m.flexbox(center, center);
        gap: 8px;

        a {
          width: 32px;
          height: 32px;
          color: c.$C_BLUE;
          line-height: 20px;
          border-radius: 2px;
          overflow: hidden;

          svg {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }

  .lower {
    display: none;
    padding-top: 14px;
  }
}
