@use 'src/styles/mixins' as m;

.data {
  @include m.flexbox(center, start);
  flex: 1;
  gap: 14px;
  height: var(--h-pentax-data);
  line-height: 1.6;
  border-top: 0;

  .column {
    @include m.flexbox(between, center);
    position: relative;
    flex-direction: column;
    height: 100%;
    padding: 14px 0;

    &:nth-child(1) {
      flex: 10;
    }

    &:nth-child(2) {
      flex: 10;
    }

    &:nth-child(3) {
      flex: 10;
    }
  }

  table {
    width: 100%;

    th,
    td {
      height: 22px;
      font-size: 12px;
    }

    th {
      position: relative;
      width: 90px;
      padding-right: 8px;
      color: var(--color-gray-7);
      text-align: right;

      &::after {
        @include m.absolute(0 0 0 auto);
        content: ':';
      }

      &.blank::after {
        display: none;
      }
    }

    td {
      padding-left: 8px;
    }
  }

  .comment {
    width: calc(100% - 14px);
    padding: 8px;
    margin-right: 14px;
    font-size: 12px;
    color: var(--color-gray-4);
    background-color: var(--color-gray-e);
    border-radius: 4px;
  }
}
