@use 'src/styles/mixins' as m;

.data {
  display: table;
  width: 100%;
  height: var(--h-pentax-data);
  border-top: 0;

  .column {
    position: relative;
    display: table-cell;
    width: 33.33%;
    padding: 14px;
  }

  table {
    th,
    td {
      height: 22px;
      font-size: 13px;
    }

    th {
      position: relative;
      width: 100px;
      padding-right: 8px;
      color: var(--color-gray-7);
      text-align: right;

      &::after {
        @include m.absolute(0 0 0 auto);
        content: ':';
      }

      &.blank::after {
        display: none;
      }
    }

    td {
      padding-left: 8px;
    }
  }

  .comment {
    @include m.absolute(auto auto 14px 14px);
    font-size: 13px;
    line-height: 1.6;
    color: var(--color-gray-4);
  }
}
