@use 'src/styles/mixins' as m;

.appHeader {
  @include m.flexbox;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-e);

  a {
    @include m.flexbox;
    height: var(--h-nav);
    font-size: 14px;
    color: var(--color-black);
    transition: 200ms;

    &.active,
    &.home {
      font-weight: 700;
    }

    &.home {
      color: var(--color-black) !important;
    }

    &:hover {
      color: var(--color-blue) !important;

      &.home {
        color: var(--color-black) !important;
      }

      svg path {
        fill: var(--color-blue) !important;
      }
    }
  }

  .mobileNav {
    width: 100%;

    .home {
      @include m.absolute(0 auto 0 0);
      font-size: 18px;
    }

    a {
      @include m.flexbox;
      height: var(--h-nav);
      padding: 0 14px;
      font-size: 14px;
    }

    details {
      position: relative;
      height: 44px;

      &[open] {
        height: 88px;
      }

      summary {
        @include m.absolute(0 0 0 auto);
        @include m.flexbox(start, center);
        width: var(--h-nav);
        height: var(--h-nav);

        span {
          @include m.posCenterX;
          width: 24px;
          height: 3px;
          background-color: var(--color-gray-2);

          &:nth-child(1) {
            top: 14px;
          }

          &:nth-child(2) {
            top: 21px;
          }

          &:nth-child(3) {
            top: 28px;
          }
        }
      }

      .menus {
        @include m.absolute(var(--h-nav) 0 0 0);
        @include m.flexbox(between, center);
        height: var(--h-nav);
        background-color: var(--color-gray-e);
        border-bottom: 1px solid var(--color-gray-d);
      }

      ul {
        @include m.flexbox(start, center);
        flex: 1;
      }

      li {
        position: relative;
        height: var(--h-nav);

        &.github {
          flex: 0;

          svg {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }

  @include m.after(SD) {
    .mobileNav {
      display: none;
    }

    .desktopNav {
      display: flex !important;
    }
  }

  .desktopNav {
    @include m.flexbox(between, center);
    display: none;
    width: 100%;
    height: 44px;
    padding: 0 14px;

    ul {
      gap: 14px;
    }
  }

  ul {
    @include m.flexbox;

    li {
      &:first-child a {
        @include m.after(SD) {
          font-size: 18px;
          font-weight: 700 !important;
        }
      }
    }
  }

  .outerLinks {
    @include m.flexbox;
    gap: 16px;

    a {
      @include m.flexbox;
      height: 24px;
      font-size: 14px;
      color: var(--color-black);

      &.github {
        font-weight: 700;
      }

      svg {
        width: 18px;
        height: 18px;
        margin-right: 4px;

        path {
          transition: 200ms;
        }
      }
    }
  }
}
