@use 'src/styles/mixins' as m;

.appHeader {
  @include m.flexbox;
  position: relative;
  z-index: var(--z-global-header);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-gray-e);
  view-transition-name: transition-ignore;
  // view-transition-name: none;

  a {
    @include m.flexbox;
    height: var(--h-nav-m);
    font-size: 14px;
    color: var(--color-black);
    transition: 200ms;

    &.active {
      color: var(--color-blue) !important;
    }

    &.home {
      font-weight: 700;
      color: var(--color-black) !important;
    }

    &:hover {
      color: var(--color-blue) !important;

      &.home {
        color: var(--color-black) !important;
      }

      svg path {
        fill: var(--color-blue) !important;
      }
    }
  }

  .mobileNav {
    width: 100%;
    height: var(--h-nav);

    .upper {
      @include m.flexbox(between, center);
      position: relative;
      z-index: var(--z-1);

      .home {
        @include m.absolute(0 auto 0 0);
        font-size: 18px;
      }

      .mobileHamburger {
        @include m.absolute(0 0 0 auto);
        @include m.flexbox(start, center);
        width: var(--h-nav);
        height: var(--h-nav);

        span {
          @include m.posCenterX;
          width: 24px;
          height: 3px;
          background-color: var(--color-gray-2);
          transition: 0.3s;

          &:nth-child(1) {
            top: 14px;
          }

          &:nth-child(2) {
            top: 21px;
          }

          &:nth-child(3) {
            top: 28px;
          }
        }

        &.mobileOpen {
          span {
            transform-origin: center;

            &:nth-child(1) {
              top: 21px;
              transform: translateX(-50%) rotate(45deg);
            }

            &:nth-child(2) {
              opacity: 0;
            }

            &:nth-child(3) {
              top: 21px;
              transform: translateX(-50%) rotate(-45deg);
            }
          }
        }
      }
    }

    a {
      @include m.flexbox;
      height: var(--h-nav);
      padding: 0 14px;
      font-size: 14px;
    }

    .mobileMenuWrapper {
      @include m.flexbox(start, center);
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      padding-top: var(--h-nav);
      pointer-events: none;
      opacity: 0;

      &.mobileOpen {
        pointer-events: all;
        opacity: 1;
      }

      .menus {
        width: 100%;
        height: calc(100vh - var(--h-nav));
        background-color: var(--color-gray-e);
        border-bottom: 1px solid var(--color-gray-d);
      }

      ul {
        @include m.flexbox(start, center);
        flex-direction: column;
        padding: var(--h-nav) 0;
      }

      li {
        position: relative;
        height: var(--h-nav-m);

        a {
          height: var(--h-nav-m);
        }
      }
    }
  }

  @include m.after(MD) {
    .mobileNav {
      display: none;
    }

    .desktopNav {
      display: flex !important;
    }
  }

  .desktopNav {
    @include m.flexbox(between, center);
    display: none;
    width: 100%;
    height: var(--h-nav);
    padding: 0 14px;

    ul {
      gap: 14px;
    }
  }

  ul {
    @include m.flexbox;

    li {
      &:first-child a {
        @include m.after(SD) {
          font-size: 18px;
          font-weight: 700 !important;
        }
      }
    }
  }
}
