@use 'src/styles/mixins' as m;

.socialBased {
  ul {
    @include m.flexbox;
    gap: 8px;
  }

  button {
    width: 28px;
    height: 28px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
