@use 'src/styles/mixins' as m;

.heroHeader {
  position: relative;
  width: 100%;
  padding-top: 56.25%; // 16:9

  @include m.after(SD) {
    width: 800px;
    height: 450px;
  }

  &.preview {
    p {
      display: inline-block;
      width: auto !important;
      background-color: rgba(var(--color-black-rgb), 0.2);
    }
  }

  .hero,
  .heroPlaceholder {
    @include m.absolute(0 0 0 0);
  }

  .hero {
    z-index: var(--z-2);
  }

  .heroPlaceholder {
    z-index: var(--z-1);

    img {
      opacity: 0.5;
    }

    p {
      @include m.middleBox;
      padding: 4px 8px;
      text-align: center;
      background-color: var(--color-white);

      @include m.after(SD) {
        white-space: nowrap;
      }
    }
  }

  .texts {
    @include m.flexbox(center, start);
    @include m.absolute(14px auto auto 14px);
    z-index: var(--z-3);
    flex-direction: column;
    color: var(--color-white);

    .title {
      width: 100%;
      font-size: 24px;
      font-weight: 600;
    }

    .vin {
      width: 100%;
    }
  }
}
