@use 'src/styles/mixins' as m;

.functions {
  @include m.flexbox(end, center);
  padding: 0 14px;
  margin-top: 10px;

  .me2 {
    @include m.flexbox;
    gap: 4px;
    height: 24px;
    padding: 0 6px;
    font-size: 12px;
    color: var(--color-m3);
    background-image: linear-gradient(to bottom, var(--color-white), var(--color-gray-e));
    border: 1px solid var(--color-gray-c);
    border-radius: 3px;

    &.active {
      color: var(--color-white);
      background-color: var(--color-m2);
      background-image: none;
      border-color: var(--color-white);
    }

    &:focus,
    &:hover {
      border-color: var(--color-gray-a);
    }

    img {
      width: 10px;
    }
  }

  .me2Count {
    margin-left: 8px;
    font-size: 12px;
    font-weight: 600;
    color: var(--color-m2);
  }

  .comment {
    margin-left: 14px;
    font-size: 12px;
    color: var(--color-gray-8);

    &:focus,
    &:hover {
      color: var(--color-gray-4);
    }

    span {
      margin-left: 4px;
      font-weight: 600;
    }
  }
}
