@use 'src/styles/mixins' as m;

.post {
  @include m.flexbox(center, start);
  flex: 1;
  padding: 20px 0 10px;

  + .post {
    border-top: 1px solid var(--color-gray-e);
  }

  .rightWing {
    flex: 1;

    .content {
      padding-right: 14px;
      font-size: 14px;
      line-height: 20px;
      color: var(--color-gray-2);
      word-wrap: break-word;

      p {
        display: inline;
      }

      time,
      button {
        font-size: 12px;
      }

      time {
        margin-left: 4px;
        color: var(--color-gray-a);
      }

      button {
        position: relative;
        display: inline-block;
        padding-left: 7px;
        margin-left: 4px;
        color: var(--color-gray-8);

        &::before {
          @include m.absolute(0 auto 0 0);
          content: '|';
        }

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
