@use 'src/styles/mixins' as m;

.emailBased {
  @include m.flexbox;
  flex-direction: column;

  form {
    @include m.flexbox;
    flex-direction: column;
    gap: 8px;
  }

  .inputWrapper {
    position: relative;
    width: 200px;
    height: calc(32px + 2px);

    input {
      position: relative;
      width: 100%;
      padding: 0 8px;
      font-size: 12px;
      line-height: 32px;
      border: 1px solid var(--color-gray-c);
      border-radius: 2px;

      &:disabled {
        color: var(--color-gray-c);
        cursor: not-allowed;
        background-color: var(--color-gray-e);
      }

      &:focus {
        border-color: var(--color-gray-a);
      }
    }
  }

  button[type='submit'] {
    width: 100%;
  }

  .toOtherTab {
    margin-top: 14px;
    font-size: 11px;

    button {
      font-size: 11px;
      color: var(--color-blue);

      &:disabled {
        opacity: 0.3;
      }

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
