@use 'src/styles/mixins' as m;

.profile {
  .profileImgWrapper {
    overflow: hidden;
    border-radius: 4px;

    img {
      display: block;
      width: 100%;
    }
  }

  .nicknameWrapper {
    @include m.flexbox(start, center);
    gap: 4px;
    margin-top: 14px;

    .iconWrapper {
      position: relative;
      width: 24px;
      height: 24px;
      overflow: hidden;
      border: 1px solid var(--color-gray-9);
      border-radius: 4px;

      .icon {
        width: 100%;
      }
    }

    p {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .ment {
    margin-top: 8px;
    font-size: 12px;
    line-height: 18px;
  }

  .info {
    position: relative;
    display: inline-block;
    margin-top: 8px;
    font-size: 11px;
    color: var(--color-gray-4);

    &:hover {
      text-decoration: underline;
    }

    &::after {
      position: absolute;
      top: 1px;
      right: -7px;
      width: 0;
      height: 0;
      content: '';
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid var(--color-gray-4);
    }
  }
}
