@use 'src/styles/mixins' as m;

.camera {
  @include m.commonBoxShadow;
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: 8px;
  transition: opacity 100ms, width 200ms;

  .wrapper {
    width: 100%;
    height: 420px;
  }

  @include m.after(521px) {
    width: 240px;

    .wrapper {
      width: 240px;
    }
  }

  &.isHidden {
    display: none;
  }

  &.exitActive,
  &.exitDone {
    width: 1px;
    opacity: 0;
    transform: scaleX(0.1);
    transform-origin: center;
  }

  &.enter {
    display: block;
    width: 1px;
    opacity: 0;
    transform: scaleX(0.1);
    transform-origin: center;
  }

  &.enterDone,
  &.enterActive {
    width: 240px;
    opacity: 1;
    transform: scaleX(1);
  }

  &.exitDone {
    display: none;
  }

  &.placeholder {
    opacity: 0.8;
  }

  &.selected {
    border: 1px solid var(--color-gray-d);
  }

  &.showExternalData {
    .dataInternal {
      transform: rotateY(180deg);
    }

    .dataExternal {
      transform: rotateY(0);
    }
  }

  .dataSet {
    @include m.absolute(0 0 0 0);
    @include m.flexbox(start, center);
    flex-direction: column;
    height: calc(420px - var(--h-camera-data-source-btn));
    padding: 8px 8px 0;
    overflow: auto;
    background-color: var(--color-white);
    transition: 300ms;
    backface-visibility: hidden;
  }

  .tabs {
    @include m.absolute(auto 0 0 0);
    @include m.flexbox;
    z-index: var(--z-4);
    height: var(--h-camera-data-source-btn);

    button {
      flex: 1;
      height: 100%;
      font-size: 10px;
      background-color: var(--color-gray-f);

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      &.current {
        background-color: var(--color-white);
      }

      span {
        margin-left: 4px;
        color: var(--color-pink);
      }
    }
  }
}
