@use 'src/styles/mixins' as m;

.commentItem {
  margin-bottom: 32px;
  border-top: 1px solid var(--color-gray-d);

  &.deleted {
    opacity: 0.3;
  }
}

.upper {
  @include m.flexbox(between, center);
  width: 100%;
  height: 24px;
  padding: 0 8px 0 12px;
  background-color: var(--color-bg);

  .leftWing {
    @include m.flexbox;

    .number {
      font-family: var(--font-dunggeunmo);
      font-size: 10px;
    }

    .name {
      margin-left: 8px;
      font-size: 12px;
      font-weight: 700;
      color: var(--color-cy-6);

      &.isFake {
        color: var(--color-gray-7);
      }
    }

    time {
      margin-left: 6px;
      font-size: 10px;
      color: var(--color-gray-8);
    }
  }

  .rightWing {
    @include m.flexbox;
    height: 100%;
    font-size: 11px;

    button {
      margin: 0 4px;
      font-size: 11px;
      color: var(--color-gray-7);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.lower {
  @include m.flexbox(center, start);
  gap: 8px;
  padding: 8px 12px;

  .leftWing {
    width: 96px;
    height: 96px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .rightWing {
    @include m.flexbox(start, center);
    flex: 1;
    min-height: 96px;
    font-size: 12px;
    white-space: pre-line;

    .bodyWrapper {
      @include m.flexbox(start, start);
      flex-direction: column;
      height: 96px;
      padding: 6px 0;
      line-height: 1.4;

      .hiddenInfo {
        @include m.flexbox(start, center);
        margin-bottom: 8px;

        img {
          width: 10px;
          height: 11px;
          margin-right: 2px;
        }

        .status {
          margin-right: 4px;
          color: #e18a4c;
        }

        .info {
          color: #dfac55;
        }
      }
    }
  }
}
