@use 'src/styles/mixins' as m;

.form {
  @include m.flexbox(center, start);
  gap: 4px;
  width: 100%;
  padding: 12px 12px 2px;
  margin-bottom: 40px;
  background-color: var(--color-bg);
  border-top: 1px solid var(--color-gray-d);
  border-bottom: 1px solid var(--color-gray-d);

  .leftWing {
    flex-shrink: 0;
    width: 96px;

    img,
    .profileBlank {
      width: 96px;
      height: 96px;
    }

    .profileBlank {
      background-color: var(--color-gray-e);
      border: 1px solid var(--color-gray-d);
    }
  }

  .rightWing {
    @include m.flexbox;
    flex: 1;
    flex-direction: column;

    textarea,
    .textareaBlank {
      width: 100%;
      height: 96px;
      padding: 8px;
      font-size: 12px;
    }

    textarea {
      @include m.cyworldStyleScrollBar;
      resize: none;
      background-color: var(--color-white);
      border: 1px solid var(--color-gray-c);
      border-radius: 2px;
    }

    .textareaBlank {
      @include m.flexbox;
    }

    .buttonWrapper {
      @include m.flexbox(between, center);
      width: 100%;
      margin: 4px 0;

      .checkboxWrapper {
        @include m.flexbox;
        position: relative;
        gap: 4px;
        font-size: 12px;
        color: var(--color-gray-4);
        cursor: pointer;
        user-select: none;

        input[type='checkbox'] {
          width: 14px;
          height: 14px;
          border: 1px solid var(--color-gray-a);
          border-radius: 2px;

          &:checked::before {
            @include m.absolute(0 auto auto 2px);
            font-size: 10px;
            content: '✔';
          }
        }
      }

      button {
        width: 40px;
        height: 20px;
        font-size: 12px;
        background-color: var(--color-white);
        border: 1px solid var(--color-gray-a);
        border-radius: 3px;

        &:disabled {
          color: var(--color-gray-c);
          border-color: var(--color-gray-c);
        }
      }
    }
  }
}
