$C_WHITE: #ffffff;
$C_BLACK: #000000;
$C_GRAY_1: #111111;
$C_GRAY_2: #232323;
$C_GRAY_4: #4c4c4c;
$C_GRAY_8: #8c8c8c;
$C_GRAY_D: #dddddd;
$C_GRAY_E: #eeeeee;

$C_BG: #f6f6f6;
$C_BLUE: #006de6;
$C_RED: #ff3b30;
$C_ORANGE: #ff9500;
$C_YELLOW: #ffcc00;
$C_GREEN: #278d40;
$C_TEAL: #5ac8fa;
$C_INDIGO: #5856d6;
$C_PURPLE: #af52de;
$C_PINK: #ff2d55;
