@use 'src/styles/mixins' as m;

.profile {
  @include m.flexbox(center, start);
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-gray-2);

  .centering {
    @include m.flexbox(start, center);
    flex-direction: column;
    width: 100%;
    max-width: 820px;
    padding: 48px 24px 24px;
    background-color: var(--color-white);

    .profileImg {
      margin-bottom: 24px;
    }

    .name {
      font-size: 36px;
      line-height: 1;
    }

    .desc {
      margin: 14px 0 24px;
      font-size: 24px;
      line-height: 1;
      color: var(--color-gray-8);
      text-align: center;
    }

    .desc2 {
      margin: 0 0 24px;
      font-size: 16px;
      text-align: center;
    }

    p {
      width: 100%;

      + p {
        margin-top: 8px;
      }

      span {
        color: var(--color-gray-8);
      }
    }

    .imagesWrapper {
      @include m.flexbox(center, center);
      gap: 14px;
      margin: 24px 0;
    }
  }
}
