@use 'src/styles/mixins' as m;

.rightWing {
  flex: 1;
  height: calc(var(--h-cy) - 120px);
  padding: 14px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-8);
  border-radius: 8px;

  > div {
    height: 100%;
    padding-right: 14px;
    overflow-y: auto;
    scrollbar-width: auto;
    scrollbar-color: #dddddd #f1f1f1;

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 16px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #dddddd;
      border: 1px solid #d6d6d6;
      border-radius: 0;
    }
  }

  .menu {
    margin-bottom: 2px;
    font-family: var(--font-dunggeunmo);
    font-size: 12px;
    color: var(--color-guestbook-bg2);
  }
}
