@use 'src/styles/mixins' as m;

.rightWing {
  flex: 1;
  width: 490px;
  height: calc(var(--h-cy) - 120px);
  padding: 14px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-8);
  border-radius: 8px;

  > div {
    @include m.cyworldStyleScrollBar;
    height: 100%;
    padding-right: 14px;
    overflow-y: auto;
  }

  .menu {
    margin-bottom: 2px;
    font-family: var(--font-dunggeunmo);
    font-size: 12px;
    color: var(--color-guestbook-bg2);
  }
}
