@use 'src/styles/mixins' as m;

.idolYear {
  @include m.flexbox;
  flex-direction: column;
  margin-bottom: 100px;

  .title {
    width: 100%;
    font-size: 36px;
    font-weight: 600;
  }

  .desc {
    margin-top: 8px;
    font-size: 14px;
    line-height: 24px;
  }

  .idols {
    width: 292px;
    margin-top: 14px;

    @include m.after(320px) {
      // 2단
      width: 300px;
    }

    @include m.after(480px) {
      // 3단
      width: 460px;
    }

    @include m.after(672px) {
      // 4단
      width: 644px;
    }

    @include m.after(832px) {
      // 5단
      width: 812px;
    }
  }
}
