@use 'src/styles/mixins' as m;

.lower {
  @include m.flexbox(start, center);
  flex: 1;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  overflow: hidden;
  font-size: 12px;

  .commentsWrapper {
    @include m.flexbox;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 100%;
  }
}
