@use 'src/styles/mixins' as m;

.commentsWrapper {
  padding: 32px;
  margin: 100px 0 32px;
  border: 1px solid var(--color-gray-d);

  textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid var(--color-gray-c);
    border-radius: 2px;
  }

  button[type='submit'] {
    align-self: flex-end;
  }

  .commentNewForm {
    @include m.flexbox;
    flex-direction: column;

    .profile {
      display: none;
    }

    button[type='submit'] {
      margin-top: 8px;
    }
  }

  .commentList {
    padding: 0;

    .header {
      padding-bottom: 14px;
      font-size: 14px;
      border-bottom: 1px solid var(--color-gray-c);
    }

    .comments {
      @include m.flexbox(start, start);
      flex-direction: column;
      margin: 14px 0 32px;
    }

    .item {
      @include m.flexbox(between, start);
      flex-direction: column;
      gap: 14px;
      width: 100%;
      padding: 24px 0;
      font-size: 14px;
      border-bottom: 1px solid var(--color-gray-c);

      .editor {
        @include m.flexbox(between, start);
        gap: 14px;
        width: 100%;

        textarea {
          width: 100%;
        }
      }

      .leftWing {
        width: var(--h-comment-form);
        height: var(--h-comment-form);

        .profileWrapper {
          width: var(--h-comment-form);
          height: var(--h-comment-form);
          overflow: hidden;
          border-radius: 50%;

          img {
            width: var(--h-comment-form);
            height: var(--h-comment-form);
          }
        }
      }

      @include m.after(SD) {
        flex-direction: row;

        .leftWing {
          width: var(--h-comment-form-large);
          height: var(--h-comment-form-large);

          .profileWrapper {
            width: var(--h-comment-form-large);
            height: var(--h-comment-form-large);

            img {
              width: var(--h-comment-form-large);
              height: var(--h-comment-form-large);
            }
          }
        }
      }
    }

    .rightWing {
      @include m.flexbox(start, start);
      flex: 1;
      flex-direction: column;
      gap: 14px;

      .upper {
        @include m.flexbox(start, center);
        font-size: 14px;

        .name {
          color: var(--color-gray-4);
        }

        time {
          font-size: 12px;
          color: var(--color-gray-9);

          &::before {
            content: ' · ';
          }
        }
      }

      .body {
        font-size: 14px;
        line-height: 22px;
      }

      .lower {
        @include m.flexbox(between, center);
        width: 100%;

        .lowerLeft {
          @include m.flexbox(start, start);
          gap: 8px;
        }

        button {
          font-size: 12px;
          color: var(--color-gray-9);
          transition: 0.2s;

          &:disabled {
            opacity: 0.4;
          }
        }
      }
    }

    .replyForm {
      @include m.flexbox(center, end);
      flex-direction: column;
      width: 100%;

      textarea {
        height: 64px;
      }

      button {
        width: 64px;
        height: 28px;
        margin-top: 8px;
        font-size: 12px;
      }
    }

    .replies {
      @include m.flexbox(start, start);
      flex-direction: column;
      gap: 14px;
      width: 100%;
      margin-top: 14px;
    }

    .replyItem {
      @include m.flexbox(between, start);
      gap: 14px;
      width: 100%;

      .leftWing {
        width: var(--h-comment-form) !important;
        height: var(--h-comment-form) !important;
      }

      .rightWing {
        flex: 1;
        gap: 8px;
      }

      .profileWrapper {
        width: var(--h-comment-form) !important;
        height: var(--h-comment-form) !important;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: var(--h-comment-form) !important;
          height: var(--h-comment-form) !important;
        }
      }
    }
  }
}
