/* stylelint-disable selector-class-pattern */
@use 'src/styles/mixins' as m;
@use '../markdown' as md;

.showPost {
  @include m.flexbox(start, center);
  padding: 14px;

  .centering {
    @include m.flexbox(center, start);
    gap: 32px;
    width: 100%;
    padding: 14px;
    background-color: var(--color-white);

    article {
      width: 100%;
    }

    @include m.after(SD) {
      max-width: 1080px;
      padding: 48px 24px;

      article {
        width: 800px;
      }

      aside {
        width: 200px;
      }
    }
  }

  header {
    margin-bottom: 14px;

    .leftWing {
      h1 {
        font-size: 24px;
        font-weight: 500;
      }

      span {
        font-size: 12px;
        font-weight: 400;
        color: var(--color-gray-8);
      }
    }

    .rightWing {
      a {
        font-size: 14px;
      }
    }

    @include m.mobileOnly {
      @include m.flexbox(between, start);
      flex-direction: column;

      .leftWing {
        flex-direction: column;

        h1 {
          display: inline-block;
          margin-bottom: 8px;
        }
      }
    }

    @include m.after(SD) {
      @include m.flexbox(between, center);
      margin-bottom: 24px;

      .leftWing {
        @include m.flexbox(start, end);

        h1 {
          font-size: 32px;
        }

        span {
          margin-left: 14px;
          font-size: 14px;
        }
      }
    }
  }

  .desc {
    font-size: 12px;

    .time,
    .hidden {
      color: var(--color-gray-8);

      &::before {
        content: ' · ';
      }
    }

    @include m.after(SD) {
      font-size: 14px;
    }
  }

  .body {
    margin-top: 24px;
    color: var(--color-gray-4);

    @include md.markdownShow;

    :global {
      .imageBorder img {
        border: 1px solid var(--color-gray-d);
      }

      .image320 {
        @include m.flexbox;

        img {
          width: 100%;
          max-width: 320px;
        }
      }

      .image480 {
        @include m.flexbox;

        img {
          width: 100%;
          max-width: 480px;
        }
      }
    }

    @include m.after(SD) {
      margin-top: 36px;

      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
