/* stylelint-disable selector-class-pattern */
@use 'src/styles/mixins' as m;
@use '../markdownPreview' as mp;

.showPost {
  background-color: var(--color-blog-bg);

  .centering {
    width: 100%;
    max-width: var(--w-blog-center);
    padding: 7px;
    overflow: hidden;
    background-color: var(--color-white);
    border-radius: 2px;

    .hero {
      position: relative;
      width: 100%;
      height: 368px;
      overflow: hidden;
      background-position: center;
      background-size: cover;
      border-radius: 2px;

      .cover {
        width: 100%;
        height: 100%;
        background-color: rgba(var(--color-black-rgb), 0.3);
      }

      .titleShade {
        @include m.absolute(0 14px 0 14px);
        @include m.flexbox;

        p {
          padding: 14px 32px;
          font-size: 32px;
          font-weight: 500;
          line-height: 1.6;
          color: var(--color-white);
          text-align: center;
          background-color: rgba(var(--color-black-rgb), 30%);
        }
      }
    }
  }

  @include m.before(SD) {
    padding: 0;

    .centering {
      padding: 0 !important;

      .hero {
        height: 200px !important;
        margin-bottom: 0 !important;

        .titleShade p {
          font-size: 24px !important;
        }
      }
    }
  }

  @include m.after(SD) {
    .centering {
      .hero {
        .titleShade p {
          font-size: 48px !important;
        }
      }
    }
  }

  .wingWrapper {
    @include m.flexbox(center, normal);

    article {
      flex: 1;
      width: 100%;
      padding: 14px;
      overflow: hidden;
    }

    .commentsWrapper {
      padding: 32px;
      margin: 14px 0 32px;
      border: 1px solid var(--color-gray-d);
    }

    @include m.after(SD) {
      padding: 7px 0;

      article {
        border: 1px dashed var(--color-gray-d);
      }
    }
  }

  .body {
    @include mp.markdownPreview;
    margin-top: 24px;
    color: var(--color-gray-4);

    @include m.after(LD) {
      margin-top: 36px;

      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
