:root {
  --z-global-alert-content: 5002;
  --z-global-alert: 5001;
  --z-global-alert-bg: 5000;
  --z-image-ex-3: 4003;
  --z-image-ex-2: 4002;
  --z-image-ex-1: 4001;
  --z-global-to-top: 2000;
  --z-global-header: 1001;
  --z-global-footer: 1000;
  --z-page-nav: 100;
  --z-5: 5;
  --z-4: 4;
  --z-3: 3;
  --z-2: 2;
  --z-1: 1;
}
