// 테스트용
// ::view-transition-group(*) {
//   animation-duration: 10s;
// }

// GNB 클릭시 이동에 대한 커스텀 애니메이션

.frontTransition {
  &::view-transition-image-pair(root) {
    isolation: isolate;
  }

  &::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fadeOut, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slideToLeft;
  }

  &::view-transition-new(root) {
    mix-blend-mode: plus-lighter;
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fadeIn, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slideFromRight;
  }
}

.backTransition {
  &::view-transition-image-pair(root) {
    isolation: isolate;
  }

  &::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fadeOut, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slideToRight;
  }

  &::view-transition-new(root) {
    mix-blend-mode: plus-lighter;
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fadeIn, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slideFromLeft;
  }
}

.baseTransition {
  &::view-transition-image-pair(root) {
    isolation: isolate;
  }

  &::view-transition-old(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fadeOut;
  }

  &::view-transition-new(root) {
    mix-blend-mode: plus-lighter;
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fadeIn;
  }
}

::view-transition-old(transition-m2-album),
::view-transition-new(transition-m2-album) {
  height: 100%;
}
