:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
  --color-gray-1: #111111;
  --color-gray-2: #232323;
  --color-gray-4: #4c4c4c;
  --color-gray-4-rgb: 76, 76, 76;
  --color-gray-7: #767676; /* Minimum WCAG AA Pass */
  --color-gray-8: #8c8c8c; /* Fail to WCAG AA */
  --color-gray-9: #999999;
  --color-gray-a: #aaaaaa;
  --color-gray-c: #cccccc;
  --color-gray-d: #dddddd;
  --color-gray-e: #eeeeee;
  --color-gray-f: #f6f6f6;

  --color-bg: #f6f6f6;
  --color-blue: #0071f0; /* Minimum WCAG AA Pass */
  --color-red: #eb0d00; /* Minimum WCAG AA Pass */
  --color-orange: #ff9500;
  --color-yellow: #ffcc00;
  --color-green: #26873e; /* Minimum WCAG AA Pass */
  --color-teal: #5ac8fa;
  --color-indigo: #5856d6;
  --color-purple: #af52de;
  --color-pink: #ff2d55;

  /* Sizes */
  --w-idol-m: 132px;
  --w-idol: 140px;
  --h-idol: 220px;
  --h-nav: 44px;
  --h-footer: 32px;
  --x-totop: 52px;

  /* Idol related */
  --gutter-idol: 28px;
  --h-comment-form: 32px;
  --h-comment-form-mini: 18px;

  /* Camera related */
  --h-camera-data-source-btn: 20px;

  /* Pentax DSLR */
  --color-pentax-limit: #008d3b;
  --pc-ist: #cdebea;
  --pc-k: #cce8d7;
  --pc-new-k: #cccee8;
  --pc-645: #e8cccc;
  --pc-q: #dce8cc;
  --pc-shit: #e8decc;
  --h-pentax-picture: 320px;
  --h-pentax-data: 470px;
  --x-pentax-dslr-cell: 22px; // src/constants/pentax/dslr.ts 와 싱크 맞춰야함
  --w-pentax-slr-cell: 27px; // src/constants/pentax/slr.ts 와 싱크 맞춰야함
  --h-pentax-slr-cell: 17px; // src/constants/pentax/slr.ts 와 싱크 맞춰야함

  /* GuestBook */
  --color-minihome-bg: #807a79;
  --color-minihome-bg2: #76b4c5;
  --color-minihome-primary: #1fa1cf;
  --color-minihome-bg2-border: #366071;
  --w-minihome-grid: 24px;
  --h-minihome-grid: 18px;
  --x-minihome-grid-overlay: 6px;
  --h-cy: 600px;
  --color-cy-tab: #248db4;
  --color-cy-1: #5abcd4;
  --color-cy-2: #6e98d8;
  --color-cy-3: #5dd29d;
  --color-cy-4: #d67470;
  --color-cy-5: #27478a;
  --color-cy-6: #164d88;
}
