:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-1: #111111;
  --color-gray-2: #232323;
  --color-gray-4: rgb(76, 76, 76);
  --color-gray-4-rgb: 76, 76, 76;
  --color-gray-7: #767676; /* Minimum WCAG AA Pass */
  --color-gray-8: #8c8c8c; /* Fail to WCAG AA */
  --color-gray-c: #cccccc;
  --color-gray-d: #dddddd;
  --color-gray-e: #eeeeee;

  --color-bg: #f6f6f6;
  --color-blue: #0071f0; /* Minimum WCAG AA Pass */
  --color-red: #ff3b30;
  --color-orange: #ff9500;
  --color-yellow: #ffcc00;
  --color-green: #26873e; /* Minimum WCAG AA Pass */
  --color-teal: #5ac8fa;
  --color-indigo: #5856d6;
  --color-purple: #af52de;
  --color-pink: #ff2d55;

  /* Sizes */
  --w-idol-m: 132px;
  --w-idol: 140px;
  --h-idol: 220px;
  --h-nav: 44px;

  /* Idol related */
  --gutter-idol: 28px;

  /* Camera related */
  --h-camera-data-source-btn: 20px;

  /* Pentax DSLR */
  --color-pentax-limit: #008d3b;
  --pc-ist: #cdebea;
  --pc-k: #cce8d7;
  --pc-new-k: #cccee8;
  --pc-645: #e8cccc;
  --pc-q: #dce8cc;
  --pc-shit: #e8decc;
  --h-pentax-picture: 320px;
  --h-pentax-data: 470px;
  --x-pentax-dslr-cell: 22px; // src/constants/pentaxes/dslr.ts 와 싱크 맞춰야함
  --w-pentax-slr-cell: 28px; // src/constants/pentaxes/slr.ts 와 싱크 맞춰야함
  --h-pentax-slr-cell: 16px; // src/constants/pentaxes/slr.ts 와 싱크 맞춰야함
}
