@use 'src/styles/mixins' as m;

.rightCategory {
  @include m.flexbox;
  flex-wrap: wrap;
  height: 100%;
  border-bottom: 1px solid var(--color-gray-c);

  li {
    width: 50%;
    height: 20px;
    border-top: 1px solid var(--color-gray-c);

    a {
      @include m.flexbox(start, center);
      height: 100%;
      padding: 2px 0 0 4px;
      color: initial;
    }

    .category,
    .count {
      display: inline-block;
      font-size: 12px;
      line-height: 20px;
    }

    .count {
      margin-left: 8px;
      color: var(--color-cy-5);

      .new {
        width: 9px;
        height: 9px;
        margin-left: 2px;
      }
    }
  }
}
