@use 'src/styles/mixins' as m;

.cameras {
  .camera {
    @include m.flexbox(center, center);
    position: absolute;
    font-size: 11px;
    text-align: center;
    // background-color: rgba(var(--color-gray-e), 0.3);
    background-color: rgba(0, 0, 0, 20%);
    border: 1px solid var(--color-gray-8);

    &.ist {
      background-color: var(--pc-ist);
    }

    &.k {
      background-color: var(--pc-k);
    }

    &.newk {
      background-color: var(--pc-new-k);
    }
  }
}
