/* stylelint-disable selector-class-pattern */
@use '../markdown' as md;

.w-md-editor {
  div,
  p,
  span,
  a,
  input,
  textarea,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  th,
  td {
    font-family: unset;
  }

  ol,
  ul,
  li {
    list-style: auto;
  }

  iframe {
    width: 100%;
    aspect-ratio: 16/9;
    margin: 24px 0;
  }

  li + li {
    margin-top: 8px;
  }
}

.wmde-markdown {
  > p > code {
    display: inline-block;
    padding: 0 8px;
    font-family: monospace;
    font-size: 14px;
    line-height: 20px;
    background-color: var(--color-gray-e);
    border-radius: 4px;
  }

  em {
    color: var(--color-em);
  }

  del {
    color: var(--color-gray-9);
  }
}

.w-md-editor-preview {
  @include md.markdownShow;
}
