/* stylelint-disable selector-class-pattern */

.w-md-editor div,
.w-md-editor p,
.w-md-editor span,
.w-md-editor a,
.w-md-editor input,
.w-md-editor textarea,
.w-md-editor button,
.w-md-editor h1,
.w-md-editor h2,
.w-md-editor h3,
.w-md-editor h4,
.w-md-editor h5,
.w-md-editor h6,
.w-md-editor th,
.w-md-editor td {
  font-family: unset;
}

.w-md-editor ol,
.w-md-editor ul,
.w-md-editor li {
  list-style: auto;
}

.w-md-editor iframe {
  width: 100%;
  aspect-ratio: 16/9;
  margin: 24px 0;
}

.w-md-editor li + li {
  margin-top: 8px;
}

.wmde-markdown hr {
  height: 1px !important;
  margin: 48px 0 !important;
  background-color: var(--color-gray-d) !important;
  border: 0 !important;
}

.wmde-markdown > p > code {
  display: inline-block;
  padding: 0 8px;
  font-family: monospace;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--color-gray-e);
  border-radius: 4px;
}

.wmde-markdown em {
  color: var(--color-em);
}

.wmde-markdown del {
  color: var(--color-gray-9);
}
