@use 'src/styles/mixins' as m;

.wrapper {
  @include m.flexbox;
  flex-direction: column;

  .fakeBar {
    flex-shrink: 0;
    width: 100%;
    height: var(--x-pentax-dslr-cell);
    background-color: var(--color-black);
  }

  .contentsWrapper {
    @include m.flexbox(center, start);
    flex: 1;
    width: 100%;
    height: calc(var(--h-pentax-picture) + var(--h-pentax-data));
  }
}
