@use 'src/styles/mixins' as m;

.camera {
  @include m.flexbox(center, center);
  position: absolute;
  font-size: 10px;
  text-align: center;
  white-space: pre-line;
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 20%); // For test
  border: 1px solid var(--color-gray-8);

  &.crippled {
    color: var(--color-indigo);
  }

  &.af {
    &::before {
      @include m.absolute(1px 1px auto auto);
      color: var(--color-red);
      content: 'AF';
      transform: scale(0.7);
    }
  }

  &.k {
    background-color: var(--pc-shit);
  }

  &.kaf2 {
    background-color: var(--pc-ist);
  }

  &.ka2 {
    background-color: var(--pc-new-k);
  }

  &.kf {
    background-color: var(--pc-k);
  }

  &.ka {
    background-color: var(--pc-645);
  }

  &.kaf {
    background-color: var(--pc-q);
  }
}
