@use 'src/styles/mixins' as m;

.grids {
  height: var(--h-pentax-picture);
  overflow: hidden;

  .lines {
    @include m.flexbox(center, center);

    li {
      @include m.flexbox(center, center);
      width: var(--x-pentax-dslr-cell);
      height: var(--x-pentax-dslr-cell);
      font-size: 12px;
      border-bottom: 1px solid var(--color-gray-d);
    }
  }

  li {
    border-right: 1px dashed var(--color-gray-d);

    &:nth-child(4n) {
      border-right: 1px solid var(--color-gray-c);
    }
  }
}
