@use 'src/styles/mixins' as m;

.wrapper {
  .upper {
    @include m.flexbox;
    position: relative;
    width: 100%;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-black);
  }

  .rightWing {
    @include m.flexbox(start, start);
    flex: 1;
    flex-direction: column;
    height: calc(var(--h-pentax-picture) + var(--x-pentax-dslr-cell));
    overflow: hidden;
    background-color: var(--color-black);

    .yearsWrapper {
      @include m.absolute(0 0 auto auto);
      z-index: var(--z-1);
      overflow: hidden;
    }

    .years {
      @include m.flexbox(between, center);
      background-color: var(--color-black);

      li {
        @include m.flexbox;
        position: relative;
        flex-shrink: 0;
        width: 135px;
        height: var(--x-pentax-dslr-cell);
        font-size: 12px;
        color: var(--color-white);
        text-align: center;

        &::after {
          @include m.absolute(auto 50% 0 auto);
          width: 1px;
          height: 2px;
          content: '';
          background-color: var(--color-gray-e);
        }
      }
    }

    .timeline {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: var(--color-white);

      .gridsWrapper {
        width: 100%;
        height: 100%;
        overflow: hidden;

        .cssGrid {
          width: 100%;
          height: 101%;
          padding-bottom: 1px;
          margin: 21px 0 0 -1px;
          background-image: /* 진한 세로 */ repeating-linear-gradient(
              90deg,
              var(--color-gray-c) 0 1px,
              transparent 1px 100%
            ),
            /* 진한 가로 */ repeating-linear-gradient(var(--color-gray-8) 0 1px, transparent 1px 100%),
            /* 가로 */ repeating-linear-gradient(var(--color-gray-d) 0 1px, transparent 1px 100%),
            /* 세로 점선 오버레이 */ repeating-linear-gradient(var(--color-white) 0 3px, transparent 1px 100%),
            /* 세로 점선 배경 */ repeating-linear-gradient(90deg, var(--color-gray-d) 0 1px, transparent 1px 100%);
          background-size: /* 진한 세로 */ calc(var(--w-pentax-slr-cell) * 5) calc(var(--h-pentax-slr-cell) * 5),
            /* 진한 가로 */ var(--w-pentax-slr-cell) calc(var(--h-pentax-slr-cell) * 6),
            /* 가로 */ var(--w-pentax-slr-cell) var(--h-pentax-slr-cell), /* 세로 점선 오버레이 */ 6px 6px,
            /* 세로 점선 배경 */ var(--w-pentax-slr-cell) var(--h-pentax-slr-cell);
        }
      }
    }
  }
}
