@use 'src/styles/mixins' as m;

.imageExpandable {
  &::before {
    content: '';
    transition: 300ms;
  }

  &[open] {
    @include m.fixed(0 0 0 0);

    &::before {
      @include m.fixed(0 0 0 0);
      content: '';
      background-color: rgba(var(--color-black-rgb), 0.7);
      backdrop-filter: blur(2px);
    }

    summary {
      @include m.absolute(0 0 0 0);
      z-index: var(--z-2);
      cursor: zoom-out;
      opacity: 0;
    }

    .detailsImg {
      @include m.middleBox;
      z-index: var(--z-1);
      width: initial;
      max-width: 100vw;
      height: initial;
      max-height: 100vh;
      user-select: none;
    }
  }

  summary {
    @include m.flexbox;
    cursor: zoom-in;

    img {
      display: block;
      width: 100% !important;
      height: auto !important;
      max-height: 100vw;
    }
  }
}
