@use 'src/styles/mixins' as m;

.imageExpandable {
  z-index: var(--z-2);

  .openButton {
    @include m.flexbox;
    overflow: hidden;
    cursor: zoom-in;

    &:hover {
      img {
        transform: scale(110%);
      }
    }

    img {
      display: block;
      contain: layout;
      transition: 200ms;
    }
  }

  .closeButton {
    display: none;
  }

  &.opened {
    z-index: var(--z-image-ex-1);

    .closeButton {
      @include m.fixed(0 0 0 0);
      z-index: var(--z-image-ex-3);
      display: block;
      cursor: zoom-out;
      content: '';
      background-color: rgba(var(--color-black-rgb), 0.7);
      transition: 300ms;
      backdrop-filter: blur(2px);
    }

    .detailsImg {
      @include m.middleBox;
      z-index: var(--z-image-ex-2);
      width: initial;
      max-width: 100vw;
      height: initial;
      max-height: 100vh;
      user-select: none;
    }
  }
}
