@use 'src/styles/mixins' as m;

.dataTable {
  width: 100%;
  margin-top: 4px;
  font-size: 10px;
  line-height: 16px;

  th {
    width: 70px;
    color: var(--color-gray-7);
    text-align: center;
  }

  p {
    @include m.inlineFlexbox;
    padding: 0 4px;
    margin-right: 4px;
    border-radius: 2px;
  }

  a {
    + a {
      margin-left: 8px;
    }
  }

  .dataSensor {
    .sensor {
      white-space: nowrap;
    }
  }

  .dataViewFinder {
    .pentaPrism {
      background-color: var(--color-green);
    }

    .pentaMirror {
      background-color: var(--color-yellow);
    }
  }

  .dataMulti {
    span {
      margin-right: 4px;
    }
  }
}
