@use 'src/styles/mixins' as m;

.m2dayPageContent {
  @include m.flexbox(start, center);
  flex-direction: column;
  width: 100%;
  padding-bottom: 64px;

  .top {
    width: 100%;
    height: 64px;
    padding-top: 20px;

    .logo {
      width: 90px;
      filter: brightness(10);
    }
  }

  .centering {
    @include m.flexbox(center, start);
    width: 100%;
    max-width: 984px;

    .leftWing {
      width: 150px;
      margin-top: 64px;
      color: var(--color-white);

      .profile {
        position: relative;
        height: 208px;
      }

      .imageWrapper {
        width: 87px;
        height: 87px;
        margin-bottom: 9px;
        border: 5px solid var(--color-white);
      }

      .nickname {
        @include m.flexbox(start, center);
        height: 25px;
        margin-bottom: 8px;
        font-family: var(--font-nanum);
        font-size: 14px;
        font-weight: 600;
      }

      .intro {
        font-family: var(--font-nanum);
        font-size: 12px;
        line-height: 18px;
      }
    }

    .rightWing {
      position: relative;
      z-index: var(--z-2);
      flex: 1;
      padding: 0 8px 8px 0;

      .contentsWrapper {
        padding-bottom: 14px;
        overflow: hidden;
        background-color: var(--color-white);
        border-radius: 8px;
        box-shadow: 0 -0 18px 0 rgba(var(--color-black-rgb), 0.2);
      }

      .header {
        @include m.flexbox(start, center);
        height: 44px;
        padding: 0 26px;
        font-size: 14px;
        font-weight: 600;
        background-image: linear-gradient(to bottom, var(--color-gray-f), var(--color-gray-e));
        border-bottom: 1px solid var(--color-gray-d);

        .me {
          color: var(--color-gray-8);
        }

        .divider {
          margin: 0 8px;
          color: var(--color-gray-c);
        }

        .all {
          color: var(--color-gray-3);
        }
      }
    }
  }
}
