@use 'src/styles/mixins' as m;

.m2dayPageContent {
  @include m.flexbox(start, center);
  flex-direction: column;
  width: 100%;
  padding-bottom: 64px;

  .top {
    width: 100%;
    height: 64px;
    padding-top: 20px;

    .logo {
      width: 90px;
      filter: brightness(10);
    }
  }

  .centering {
    @include m.flexbox(center, start);
    flex-direction: column;
    width: 100%;
    max-width: 984px;

    @include m.after(MD) {
      flex-direction: row;
    }
  }
}
