@use 'src/styles/mixins' as m;

.page {
  @include m.commonBoxShadow;
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: 8px;

  + .page {
    margin-top: 24px;
  }

  article {
    @include m.flexbox;
    flex-direction: column;
    width: 100%;
    white-space: pre-wrap;

    .imageWrapper {
      width: 100%;
      aspect-ratio: 1200 / 630;
      background-position: center;
      background-size: cover;
    }

    details {
      @include m.flexbox;
      padding: 14px;

      &.noData {
        padding: 14px !important;

        summary {
          padding-bottom: 0;
        }

        .fakeViewMore,
        .devComment {
          display: none;
        }
      }

      &[open] {
        summary {
          padding-bottom: 0;
        }

        .fakeViewMore {
          display: none;
        }
      }

      @include m.after(MD) {
        padding: 24px;
      }
    }

    summary {
      position: relative;
      padding-bottom: 24px;

      .fakeViewMore {
        @include m.absolute(auto 0 0 auto);
        color: var(--color-blue);
        pointer-events: none;
      }

      @include m.after(ML) {
        text-align: center;
      }

      @include m.after(SD) {
        font-size: 16px;
      }

      @include m.after(MD) {
        font-size: 18px;
      }
    }

    .devComment {
      max-width: 800px;
      padding: 8px 14px;
      margin-top: 14px;
      background-color: var(--color-gray-e);
      border-radius: 4px;

      @include m.after(MD) {
        padding: 14px 24px;
        font-size: 16px;
      }

      ul {
        li {
          position: relative;
          padding-left: 14px;
          margin-top: 8px;

          &::before {
            @include m.absolute(10px auto auto 0);
            width: 3px;
            height: 3px;
            content: '';
            background-color: var(--color-gray-7);
            border-radius: 50%;
          }
        }
      }
    }
  }
}
