@use 'src/styles/mixins' as m;

.wrapper {
  .headerWrapper {
    position: relative;

    .editButton {
      @include m.absolute(14px 14px auto auto);
      z-index: var(--z-2);
      color: var(--color-white);
    }
  }

  .contents {
    width: 100%;
    padding: 14px;
    background-color: var(--color-white);

    .tabBar {
      @include m.flexbox(between, center);
      padding-bottom: 8px;

      .tableSelect {
        @include m.flexbox(start, center);
        gap: 8px;
        width: 100%;

        button {
          font-size: 14px;

          &.current {
            font-weight: 600;
          }
        }
      }

      .metric {
        font-size: 12px;
        white-space: nowrap;

        &.km {
          .km {
            font-weight: 600;
          }

          .miles {
            font-weight: 400;
          }
        }

        .km {
          font-weight: 400;
        }

        .miles {
          font-weight: 600;
        }
      }
    }
  }
}
