@use 'src/styles/mixins' as m;

.wrapper {
  .headerWrapper {
    position: relative;

    .editButton {
      @include m.absolute(14px 14px auto auto);
      z-index: var(--z-2);
      color: var(--color-white);
    }
  }

  .contents {
    width: 100%;
    padding: 14px;
    background-color: var(--color-white);

    .tableSelect {
      @include m.flexbox(start, center);
      gap: 8px;
      width: 100%;
      padding-bottom: 8px;

      button {
        &.current {
          font-weight: 600;
        }
      }
    }
  }
}
