@use 'src/styles/mixins' as m;

.listWrapper {
  .blank {
    @include m.flexbox;
    height: 100px;
  }

  form {
    @include m.flexbox(start, start);
    flex-wrap: wrap;
    gap: 4px;

    &.new {
      margin-bottom: 8px;

      .leftWing,
      .rightWing {
        > div {
          padding: 0;
        }
      }
    }

    .vertical {
      @include m.flexbox(center, start);
      flex-direction: column;
    }

    .bodyWrapper {
      @include m.flexbox(center, start);
      flex: 1;
    }

    .inputWrapper {
      @include m.flexbox(start, start);
      width: 100%;

      span {
        width: 80px;
      }

      input,
      textarea {
        width: 100%;
        padding: 0 8px;
        font-size: 12px;
        line-height: 18px;
        background-color: var(--color-white);
        border: 1px solid var(--color-gray-c);
        border-radius: 2px;

        &.error {
          border-color: var(--color-red) !important;
        }

        &.changed {
          border-color: var(--color-green) !important;
        }
      }

      input {
        height: 24px;
      }

      textarea {
        height: 80px;
        padding-top: 4px;
        resize: none;

        &.row2 {
          height: 52px;
        }
      }
    }
  }

  .list {
    width: 100%;
  }

  .item {
    @include m.flexbox(start, start);
    flex-wrap: wrap;
    gap: 4px;
    width: 100%;
    border-bottom: 1px solid var(--color-gray-e);

    &.edit {
      padding: 8px;
      background-color: var(--color-bg);

      form {
        width: 100%;

        div {
          padding: 0;
        }
      }
    }
  }

  .dataTime,
  .dataTitle,
  .dataButtons {
    gap: 4px;
  }

  .leftWing,
  .rightWing {
    @include m.flexbox(start, start);
    width: 100%;

    @include m.after(SD) {
      width: auto;
    }

    div {
      @include m.flexbox(start, start);
      flex-direction: column;
      align-self: flex-start;
      padding: 8px 0;
      font-size: 12px;
      line-height: 18px;
      white-space: pre-wrap;
    }
  }

  .leftWing {
    gap: 4px;

    .dataTime {
      width: 120px;

      p {
        color: var(--color-gray-9);
      }
    }

    .dataTitle {
      width: 200px;

      &.long {
        width: 320px;
      }
    }
  }

  .rightWing {
    flex: 1;
    gap: 4px;

    .dataBody {
      flex: 1;
      gap: 4px;

      @include m.after(SD) {
        min-width: 320px;
      }
    }

    .dataButtons {
      flex-direction: column;
      gap: 4px;
      align-self: flex-end !important;
      width: 40px;

      button {
        width: 40px;
        font-size: 12px;
        color: var(--color-gray-7);
        white-space: nowrap;

        &[type='submit'] {
          height: 80px;
          color: var(--color-gray-4);
          background-color: var(--color-white);
          border: 1px solid var(--color-gray-c);
          border-radius: 2px;

          &.row2 {
            height: 52px !important;
          }

          &.editSubmit {
            height: 60px;

            &.row2 {
              height: 24px !important;
            }
          }
        }

        &:focus {
          border-color: var(--color-gray-4);
        }
      }

      // @include m.after(SD) {
      //   width: 60px;

      //   button {
      //     width: 60px;
      //     text-align: center;
      //   }
      // }
    }
  }
}
