@use 'src/styles/mixins' as m;

.idols {
  .idolYears {
    position: relative;
    z-index: var(--z-2);
    max-width: 812px;
  }

  .cover {
    @include m.fixed(-20px -20px -20px -20px);
    z-index: var(--z-1);
    filter: blur(20px);

    > div {
      @include m.absolute(0 0 0 0);
      width: 100%;
      height: 100%;
      background-position: top center;
      background-size: cover;
      opacity: 0;
      transition: 0.5s opacity;

      &.on {
        opacity: 0.4;
      }
    }
  }
}
