@use 'src/styles/mixins' as m;

.data {
  @include m.flexbox(center, start);
  border: 1px solid var(--color-black);
  border-top: 0;

  .column {
    @include m.flexbox(start, start);
    flex: 1;
    flex-direction: column;
    padding: 14px;
  }

  table {
    th,
    td {
      height: 24px;
      font-size: 14px;
    }

    th {
      width: 100px;
      padding-right: 8px;
      color: var(--color-gray-7);
      text-align: right;
    }
  }

  .comment {
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-gray-4);
  }
}
