@use 'src/styles/mixins' as m;

.wrapper {
  width: 100%;

  .title {
    font-size: 24px;
    font-weight: 600;
  }

  .editor {
    @include m.flexbox(center, start);
    flex-direction: column;
    width: 320px;
    margin-top: 14px;

    .inputWrapper {
      @include m.flexbox;
      height: 32px;
      margin-bottom: 8px;

      span {
        width: 80px;
      }

      input {
        width: 240px;
        padding: 0 8px;
        line-height: 32px;
        background-color: var(--color-white);
        border: 1px solid var(--color-gray-c);
        border-radius: 4px;

        &.error {
          border-color: var(--color-red) !important;
        }

        &.changed {
          border-color: var(--color-green) !important;
        }
      }
    }
  }

  .buttonWrapper {
    @include m.flexbox(end, center);
    gap: 8px;
    width: 100%;
    margin-top: 8px;

    a,
    button {
      @include m.flexbox;
      width: 100px;
      height: 28px;
      border-radius: 4px;

      &:disabled {
        opacity: 0.5;
      }
    }

    button[type='submit'] {
      color: var(--color-white);
      background-color: var(--color-blue);
    }
  }
}
