/* stylelint-disable selector-class-pattern */
@use 'src/styles/mixins' as m;

@mixin markdownShow {
  strong {
    font-weight: 500;
    color: var(--color-black);
  }

  em {
    color: var(--color-em);
  }

  h2 {
    padding-bottom: 8px;
    margin: 56px 0 16px !important;
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid var(--color-gray-d);
  }

  h3 {
    margin: 32px 0 16px;
    font-size: 20px;
    font-weight: 500;
  }

  h4 {
    margin: 24px 0 16px !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }

  p {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 22px;
  }

  ul,
  li {
    list-style: unset;
  }

  ol {
    list-style: decimal;
  }

  ul,
  ol {
    padding-left: 32px;
    margin-bottom: 24px;
  }

  li {
    line-height: 24px;

    + li {
      margin-top: 8px;
    }
  }

  img {
    max-width: 100%;
  }

  iframe {
    width: 100%;
    aspect-ratio: 16/9;
    margin: 24px 0;
  }

  hr {
    height: 1px !important;
    margin: 48px 0 !important;
    background-color: var(--color-gray-d) !important;
    border: 0 !important;
  }

  > p > code {
    display: inline-block;
    padding: 0 8px;
    font-family: monospace;
    font-size: 14px;
    line-height: 20px;
    background-color: var(--color-gray-e);
    border-radius: 4px;
  }

  del {
    color: var(--color-gray-9);
  }

  :global {
    .imageBorder img {
      border: 1px solid var(--color-gray-d);
    }

    .image320 {
      @include m.flexbox;

      img {
        width: 100%;
        max-width: 320px;
      }
    }

    .image480 {
      @include m.flexbox;

      img {
        width: 100%;
        max-width: 480px;
      }
    }
  }
}
