@use 'src/styles/mixins' as m;

.notFound {
  @include m.flexbox;
  flex-direction: column;
  width: 100%;
  height: 100%;

  figcaption {
    margin-top: 4px;
    font-size: 12px;
    text-align: center;
  }

  h2 {
    margin-top: 24px;
    font-size: 24px;
    font-weight: 600;
  }

  p {
    margin-top: 14px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}
