@use 'src/styles/mixins' as m;

.subtitle {
  margin: 8px 0;
  font-size: 12px;
  font-weight: 500;
}

.inputWrapper {
  @include m.flexbox(start, center);
  position: relative;
  width: 100%;

  &.slr {
    + label {
      margin-top: 2px;
    }

    input,
    select {
      height: 20px;
    }
  }

  &.dslr {
    height: 18px;

    + label {
      margin-top: 1px;
    }

    input,
    select {
      height: 18px;
    }
  }

  &.camera {
    height: 16px;

    + label {
      margin-top: 1px;
    }

    .fieldName {
      width: 80px;
      font-size: 11px;
    }

    input,
    select {
      height: 16px;
    }
  }

  .fieldName {
    @include m.flexbox(end, center);
    flex-shrink: 0;
    width: 90px;
    padding-right: 8px;
    font-size: 12px;
    text-align: right;

    &.withInfo {
      color: var(--color-blue);

      svg {
        width: 10px;
        height: 10px;
        margin-left: 2px;
      }
    }
  }

  .deco {
    margin: 0 4px;
    font-size: 12px;
  }

  &.error {
    input,
    select,
    textarea {
      border-color: var(--color-red) !important;
    }
  }

  &.changed {
    input,
    select,
    textarea {
      border-color: var(--color-orange) !important;
    }
  }

  input,
  select,
  textarea {
    padding: 0 4px;
    font-size: 12px;
    border: 1px solid var(--color-gray-c);
    border-radius: 2px;

    &::placeholder {
      color: var(--color-gray-a);
    }

    &:disabled {
      background-color: var(--color-gray-e);
    }

    &.error {
      border-color: var(--color-red) !important;
    }

    &.changed {
      border-color: var(--color-orange) !important;
    }
  }

  input {
    &[type='text'],
    &[type='number'] {
      flex: 1;
    }

    &.mini {
      width: 80px;
    }

    &.tiny {
      width: 60px;
    }
  }

  input[type='checkbox'] {
    position: relative;
    width: 14px;
    height: 14px;
    border: 1px solid var(--color-gray-a);
    border-radius: 2px;

    &:focus {
      border-color: var(--color-gray-4);
    }

    &:checked::before {
      @include m.absolute(0 auto auto 2px);
      font-size: 10px;
      content: '✔';
    }
  }

  textarea {
    flex: 1;
    height: 160px;
    line-height: 1.4;
  }
}

.info {
  line-height: 1.6;

  pre {
    width: 100%;
    padding: 8px 14px;
    margin-top: 8px;
    font-family: monospace;
    white-space: pre-wrap;
    background-color: var(--color-bg);
    border-radius: 2px;
  }
}
