@use 'src/styles/mixins' as m;

.testPage {
  @include m.flexbox;

  .thumbnails {
    @include m.flexbox;

    img {
      width: 140px;
      contain: layout;
    }
  }

  .large {
    img {
      width: 700px;
      contain: layout;
    }
  }
}
