@use 'src/styles/mixins' as m;

.wrapper {
  width: 100%;

  .title {
    padding-left: 8px;
    font-size: 14px;
    font-weight: 600;

    @include m.after(SD) {
      padding-left: 0;
      font-size: 24px;
    }
  }

  .bottom {
    @include m.flexbox(start, start);

    .desc {
      padding: 14px;
    }
  }

  .editor {
    @include m.flexbox(center, start);
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    padding: 0 8px;
    margin-top: 14px;

    .inputWrapper {
      @include m.flexbox;
      width: 100%;
      height: 32px;
      margin-bottom: 8px;

      span {
        width: 80px;
      }

      input {
        flex: 1;
        padding: 0 8px;
        font-size: 14px;
        line-height: 32px;
        background-color: var(--color-white);
        border: 1px solid var(--color-gray-c);
        border-radius: 4px;

        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }

        &.error {
          border-color: var(--color-red) !important;
        }

        &.changed {
          border-color: var(--color-green) !important;
        }
      }
    }

    @include m.after(SD) {
      padding: 0;
    }
  }

  .buttonWrapper {
    @include m.flexbox(end, center);
    gap: 8px;
    width: 100%;
    margin-top: 8px;

    a,
    button {
      @include m.flexbox;
      width: 100px;
    }
  }
}
