@use 'src/styles/mixins' as m;

.blogPage {
  .centering {
    @include m.flexbox(center, start);
    gap: 32px;
    width: 100%;
    max-width: 1080px;

    .wingTitle {
      @include m.flexbox(between, center);
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 600;

      a {
        @include m.flexbox;
        height: 24px;
        padding: 0 8px;
        font-size: 12px;
        font-weight: 400;
        color: var(--color-blue);
      }
    }

    .leftWing {
      width: 800px;
      background-color: var(--color-white);
      border-radius: 8px;

      &.loading {
        @include m.flexbox;
        height: 100%;
        min-height: 400px;
      }
    }

    .rightWing {
      aside {
        width: 248px;
        border-radius: 8px;
      }

      .manage {
        @include m.flexbox;
        height: 44px;
        background-color: var(--color-white);
        border-radius: 8px;

        a {
          @include m.flexbox;
          height: 100%;
          padding: 14px;
          font-size: 14px;
        }

        @include m.after(SD) {
          margin-top: 14px;
        }
      }
    }
  }

  @include m.mobileOnly {
    .centering {
      flex-direction: column;
      gap: 14px;

      .wingTitle {
        font-size: 18px;
      }

      .leftWing {
        width: 100%;
      }
    }
  }

  .posts {
    @include m.flexbox(center, start);
    flex-direction: column;

    .post {
      width: 100%;
      padding: 14px;
      border-bottom: 1px solid var(--color-gray-e);

      &:last-child {
        border-bottom: 0;
      }

      @include m.after(SD) {
        padding: 24px;
      }
    }

    a {
      @include m.flexbox;
      flex-direction: column;
      gap: 14px;

      .hero {
        position: relative;
        width: 100%;
        height: 160px;
        overflow: hidden;
        border-radius: 8px;

        img {
          object-fit: cover;
        }
      }

      .content {
        flex: 1;
      }

      @include m.after(SD) {
        flex-direction: row;

        .hero {
          width: 240px;
        }
      }
    }

    .title {
      display: block;
      margin-bottom: 8px;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      color: var(--color-gray-2);
    }

    .hidden {
      margin-left: 4px;
      font-size: 12px;
      font-weight: 400;
      color: var(--color-gray-8);
    }

    .body {
      margin-top: 14px;
      font-size: 12px;
      line-height: 18px;
      color: var(--color-gray-4);

      @include m.after(SD) {
        font-size: 16px;
        line-height: 24px;
      }
    }

    time {
      display: block;
      margin-top: 14px;
      font-size: 12px;
      color: var(--color-gray-8);
    }
  }
}
