@use 'src/styles/mixins' as m;

.upper {
  @include m.flexbox(center, start);
  position: relative;
  width: 100%;

  .withComment {
    @include m.flexbox;
    @include m.absolute(8px auto auto 8px);

    svg {
      width: 14px;
      height: 14px;
      fill: var(--color-blue);
    }

    span {
      margin-left: 2px;
      font-size: 10px;
      color: var(--color-blue);
    }
  }

  .withSound {
    @include m.absolute(8px 8px auto auto);
    width: 12px;
    height: 12px;
    fill: var(--color-gray-8);
  }
}
