@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.filterBar {
  width: 100%;
  max-width: 1002px;
  margin-bottom: 100px;
  font-size: 14px;
  overflow: hidden;

  .header {
    .upper {
      @include m.flexbox(between, end);

      h1 {
        margin-top: 24px;
        font-size: 32px;
        font-weight: 700;

        span {
          font-size: 14px;
          font-weight: 400;
        }
      }

      .outerLinks {
        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .notice,
  .categories,
  .years {
    width: 100%;
    margin-top: 14px;
    background-color: c.$C_WHITE;
    border-radius: 8px;
  }

  .categories,
  .years {
    @include m.flexbox(center, center);
    flex-wrap: wrap;

    li {
      margin: 0 8px;

      &.current {
        font-weight: 700;
      }

      button,
      a {
        display: block;
        color: c.$C_BLACK;
        font-weight: inherit;
      }
    }
  }

  .notice {
    padding: 8px 16px;
    font-size: 13px;
    line-height: 1.6;
    color: c.$C_GRAY_4;

    a {
      color: c.$C_BLUE;
    }
  }

  .categories {
    padding: 0 14px;
    min-height: 44px;
    line-height: 44px;
  }

  .years {
    padding: 8px;
    line-height: 32px;
  }
}
