@use 'src/styles/mixins' as m;

.loading,
.loadingPage {
  &.test {
    background-color: var(--color-red);
  }
}

.loading {
  @include m.flexbox(start, center);
  flex-direction: column;
  width: 80px;
  height: 80px;
  padding: 0 !important;

  &.small {
    width: 40px;
    height: 40px;

    &::before {
      width: 22px;
      height: 22px;
      border-width: 3px;
    }

    p {
      display: none;
    }
  }

  p {
    margin-left: 6px;
    font-size: 12px;
    color: var(--color-gray-8);
  }

  &::before {
    display: block;
    width: 44px;
    height: 44px;
    margin: 8px;
    content: '';
    border: 4px solid var(--color-gray-d);
    border-color: var(--color-gray-d) transparent;
    border-radius: 50%;

    &:global {
      animation: loading 0.4s linear infinite;
    }
  }
}

.loadingPage {
  @include m.flexbox;
  width: 100%;
  min-height: 100vh;
  cursor: none;

  &.inComponent {
    min-height: initial;
  }
}

.hourGlassCursor {
  position: absolute;
  width: 25px;
  height: 25px;
  pointer-events: none;
  background-image: url('/svgs/hourGlassCursor.svg');
}
