@use 'src/styles/mixins' as m;

.mdWrapper {
  @include m.flexbox(between, start);
  flex-direction: column;
  height: 50vh;
  margin-top: 24px;
  overflow-y: auto;
  font-size: 12px;
  line-height: 1.6;
  color: var(--color-gray-2);

  @include m.after(SD) {
    flex-direction: row;
    font-size: 14px;
  }

  .markdown {
    flex: 1;

    h1 {
      margin-bottom: 14px;
      font-size: 24px;
      font-weight: 700;
    }

    > ul {
      > li {
        margin: 0 0 14px 24px;
        list-style-type: disc;

        li {
          margin: 0 0 0 14px;
          list-style-type: circle;
        }
      }
    }
  }
}
