@use 'src/styles/mixins' as m;

.profile {
  @include m.flexbox;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;

  .profileImg {
    @include m.absolute(0 0 0 0);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    @include m.absolute(auto 0 0 0);
    padding: 8px;
    color: var(--color-white);
    background-color: rgba(var(--color-black-rgb), 0.3);
    backdrop-filter: blur(2px);

    .name {
      font-size: 14px;
      font-weight: 600;
    }

    .category,
    .years {
      margin-top: 2px;
      font-size: 10px;
    }

    .withLike {
      @include m.absolute(auto auto 8px 8px);
      z-index: var(--z-3);

      aside button {
        min-width: 0 !important;
        padding: 0;
      }
    }

    .withComment {
      @include m.flexbox;
      @include m.absolute(auto 8px 8px auto);
      z-index: var(--z-3);

      svg {
        width: 12px;
        height: 12px;
        fill: var(--color-white);
      }

      span {
        margin-left: 2px;
        font-size: 10px;
        color: var(--color-white);
      }
    }
  }
}
