@use 'src/styles/mixins' as m;

.top {
  width: 100%;
  max-width: 1002px;
  margin-bottom: 40px;
  overflow: hidden;
  font-size: 14px;

  .commonBox {
    width: 100%;
    padding: 8px 14px;
    margin-top: 14px;
    background-color: var(--color-white);
    border-radius: 8px;
  }

  .header {
    .upper {
      @include m.flexbox(between, end);

      h1 {
        margin-top: 24px;
        font-size: 32px;
        font-weight: 700;

        span {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .notice {
      font-size: 13px;
      line-height: 1.6;
      color: var(--color-gray-4);
    }
  }

  .news {
    @include m.flexbox(center, start);
    flex-wrap: wrap;

    li {
      @include m.flexbox(start, center);
      position: relative;
      width: 50%;
      height: 20px;
      padding-left: 8px;

      &::before {
        @include m.absolute(8px auto auto -2px);
        width: 3px;
        height: 3px;
        content: '';
        background-color: var(--color-gray-7);
        border-radius: 50%;
      }

      a {
        color: var(--color-gray-4);
      }
    }
  }

  .categories,
  .years {
    @include m.flexbox;
    flex-wrap: wrap;

    li {
      margin: 0 8px;
      color: var(--color-gray-4);

      &.current {
        font-weight: 700;
      }

      button,
      a {
        @include m.flexbox;
        height: 24px;
        font-size: 13px;
        font-weight: inherit;
        color: inherit;

        &:disabled {
          color: var(--color-gray-d);
        }
      }
    }
  }

  .categories {
    min-height: 44px;
    line-height: 44px;
  }

  .years {
    line-height: 32px;
  }
}
