@use 'src/styles/mixins' as m;

.dataTable {
  width: 100%;
  margin-top: 4px;
  font-size: 10px;
  line-height: 16px;

  th {
    width: 70px;
    color: var(--color-gray-7);
    text-align: center;
  }

  td {
    @include m.flexbox(start, center);
  }

  p {
    @include m.flexbox(center, center);
    padding: 0 4px;
    margin-right: 4px;
    border-radius: 2px;
  }

  a {
    + a {
      margin-left: 8px;
    }
  }

  .dataSensor {
    .sensor {
      white-space: nowrap;
    }
  }

  .dataViewFinder {
    .pentaPrism {
      background-color: var(--color-green);
    }

    .pentaMirror {
      background-color: var(--color-yellow);
    }
  }

  .gray {
    color: var(--color-gray-4);
  }

  .grayBg {
    color: var(--color-white);
    background-color: var(--color-gray-4);
  }

  .red {
    color: var(--color-red);
  }

  .redBg {
    color: var(--color-white);
    background-color: var(--color-red);
  }

  .orange {
    color: var(--color-orange);
  }

  .orangeBg {
    color: var(--color-white);
    background-color: var(--color-orange);
  }

  .yellow {
    color: var(--color-yellow);
  }

  .yellowBg {
    color: var(--color-black);
    background-color: var(--color-yellow);
  }

  .green {
    color: var(--color-green);
  }

  .greenBg {
    color: var(--color-white);
    background-color: var(--color-green);
  }

  .blue {
    color: var(--color-blue);
  }

  .blueBg {
    color: var(--color-white);
    background-color: var(--color-blue);
  }
}
