@use 'src/styles/mixins' as m;

.idolCard {
  @include m.flexbox;
  @include m.commonBoxShadow;
  flex-direction: column;
  width: var(--w-idol-m);
  height: var(--h-idol);
  overflow: hidden;
  background-color: var(--color-white);
  border-radius: 14px;

  @include m.after(M) {
    width: var(--w-idol);
  }

  &.opened {
    width: calc(var(--w-idol-m) * 2 + var(--gutter-idol));
    height: calc(var(--h-idol) * 2 + var(--gutter-idol));

    @include m.after(M) {
      width: calc(var(--w-idol) * 2 + var(--gutter-idol));
    }

    .upper {
      height: var(--h-idol);
    }

    .lower {
      display: block;
    }
  }
}
