@use 'src/styles/mixins' as m;

.categoriesBar {
  @include m.flexbox(center, start);
  flex-direction: column;
  margin-top: 48px;
  background-color: var(--color-white);

  .wingTitle {
    @include m.flexbox(between, center);
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: 500;

    a {
      @include m.flexbox;
      height: 24px;
      padding: 0 8px;
      font-size: 12px;
      font-weight: 400;
      color: var(--color-blue);
    }
  }

  .categories {
    @include m.flexbox(center, start);
    flex-direction: column;
    gap: 14px;

    .category {
      @include m.flexbox;
      font-size: 14px;

      span {
        margin-left: 4px;
        font-size: 12px;
        color: var(--color-gray-9);
      }
    }
  }

  @include m.mobileOnly {
    display: none;
  }
}
