@use 'src/styles/mixins' as m;

.mdWrapper {
  @include m.flexbox(between, start);
  flex: 1;
  flex-direction: column;
  height: calc(var(--h-pentax-picture) + var(--h-pentax-data) - var(--x-pentax-cell));
  padding: 14px;
  overflow-y: auto;
  color: var(--color-gray-2);

  @include m.after(SD) {
    flex-direction: row;
    font-size: 14px;
  }

  .markdown {
    flex: 1;
    font-size: 10px;
    line-height: 1.6;

    h1 {
      margin-bottom: 14px;
      font-size: 16px;
      font-weight: 700;
    }

    > ul {
      > li {
        margin: 0 0 14px 24px;
        list-style-type: disc;

        li {
          margin: 0 0 0 14px;
          list-style-type: circle;
        }
      }
    }
  }
}
