@use 'src/styles/mixins' as m;

.toTop {
  @include m.commonBoxShadow;
  @include m.fixed(auto 14px calc(24px + var(--h-footer)) auto);
  z-index: var(--z-global-to-top);
  width: 52px;
  height: 52px;
  background-color: var(--color-white);
  border-radius: 4px;

  &::before,
  &::after {
    position: absolute;
    top: 14px;
    width: 14px;
    height: 3px;
    content: '';
    background-color: var(--color-gray-8);
  }

  &::before {
    right: 15px;
    transform: rotate(45deg);
  }

  &::after {
    left: 15px;
    transform: rotate(-45deg);
  }

  p {
    margin-top: 24px;
    font-size: 12px;
  }
}
