@use 'src/styles/constants' as c;
@use 'src/styles/mixins' as m;

.camera {
  @include m.flexbox(start, center);
  position: relative;
  flex-direction: column;
  width: 240px;
  height: 420px;
  padding: 32px 8px 8px;
  margin-bottom: 24px;
  overflow: hidden;
  background-color: c.$C_WHITE;
  border-radius: 8px;

  .cameraImg {
    width: 140px;
    height: 140px;
    margin-bottom: 8px;
  }

  .name {
    width: 100%;
    margin-bottom: 4px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    border-bottom: 1px solid c.$C_GRAY_D;
  }

  table {
    width: 100%;
    margin-top: 4px;
    font-size: 10px;
    line-height: 16px;

    th {
      width: 70px;
      text-align: center;
    }

    td {
      @include m.flexbox(start, center);

      a {
        color: c.$C_BLUE;
      }
    }

    p {
      @include m.flexbox(center, center);
      padding: 0 4px;
      margin-right: 4px;
      border-radius: 2px;
    }

    .dataRefs {
      a {
        color: c.$C_BLUE;

        + a {
          margin-left: 4px;
        }
      }
    }

    .dataViewFinder {
      .pentaPrism {
        background-color: c.$C_GREEN;
      }

      .pentaMirror {
        background-color: c.$C_YELLOW;
      }
    }
  }
}

.gray {
  color: c.$C_GRAY_4;
}

.grayBg {
  color: c.$C_WHITE;
  background-color: c.$C_GRAY_4;
}

.red {
  color: c.$C_RED;
}

.redBg {
  color: c.$C_WHITE;
  background-color: c.$C_RED;
}

.orange {
  color: c.$C_ORANGE;
}

.orangeBg {
  color: c.$C_WHITE;
  background-color: c.$C_ORANGE;
}

.yellow {
  color: c.$C_YELLOW;
}

.yellowBg {
  color: c.$C_BLACK;
  background-color: c.$C_YELLOW;
}

.green {
  color: c.$C_GREEN;
}

.greenBg {
  color: c.$C_WHITE;
  background-color: c.$C_GREEN;
}

.blue {
  color: c.$C_BLUE;
}

.blueBg {
  color: c.$C_WHITE;
  background-color: c.$C_BLUE;
}
