@use 'src/styles/mixins' as m;

.cameraImage {
  position: relative;
  flex-shrink: 0;
  width: 140px;
  height: 140px;
  margin: 24px 0 8px;

  img {
    position: relative;
    z-index: 2;
    line-height: 0;
    text-indent: -999000px;
    mix-blend-mode: multiply;

    &::after {
      position: relative;
      display: block;
      width: 140px;
      height: 140px;
      padding: 50% 0;
      content: '';
      background-color: var(--color-white);
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1255/image-not-found.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100px 100px;
    }
  }

  .shadow {
    @include m.absolute(auto 50% -8px auto);
    z-index: 1;
    width: 200px;
    height: 100px;
    background-image: radial-gradient(circle, var(--color-gray-8), var(--color-white) 50px);
    background-repeat: no-repeat;
    opacity: 0.5;
    transform: scaleY(20%) translateX(50%);
    transform-origin: bottom;
  }
}
